#title {
  text-align: center;
  flex: 100%;
}
#title #s_title {
  position: relative;
  bottom: 18px;
  color: #a0a0a0;
  margin: 0;
}
#title #s_title small span {
  color: orange;
}
#title #menu {
  margin-top: 5px;
}
#title #menu a {
  margin: 0 5px;
}
