#paper_name {
  display: flex;
  text-align: center;
  margin-top: 3em;
  justify-content: center;
}
#paper_name h2 {
  flex: 1;
}
#paper_name input {
  margin: 0 0.5em;
  width: 30%;
  min-width: 250px;
  border: none;
  background-color: #ffffff00;
  text-align: center;
}
#paper_name input:focus {
  outline: none;
}
