div.answer_contain span.historyPaperInfo {
  flex: 1;
  color: #333;
}
div.answer_contain span.historyPaperInfo h3 {
  margin: 0.2em 0;
}
div.answer_contain span.historyPaperInfo h3#titled {
  color: #6191e6;
}
div.answer_contain span.historyPaperInfo span {
  margin: 0 5px;
  color: #909090;
}
div.answer_contain span.historyPaperUUID {
  color: #cacaca;
  font-size: smaller;
}
@media screen and (max-width: 500px) {
  div.answer_contain span.historyPaperUUID {
    display: none;
  }
}
div.answer_contain span#pagination {
  display: block;
  margin-top: 3em;
}
div.answer_contain small.smallTitle {
  text-align: center;
  display: block;
  position: relative;
  bottom: 2em;
  color: #7b7b7b;
}
