.answersBody {
  flex: 100% 1;
}
.answersBody .liner {
  border-bottom: #eaeaea 2px dashed;
  display: block;
  margin-bottom: 2em;
}
.answersBody .liner_text {
  display: block;
  background-color: #f9f9fb;
  padding: 6px 6px 6px 18px;
  color: #aeaeae;
  position: relative;
  width: 160px;
  text-align: center;
  top: 17px;
  letter-spacing: 16px;
  margin: auto;
}
.answer_contain {
  padding: 32px;
  box-shadow: 0px 0px 35px #e7e7ef;
  margin: 40px auto;
  flex: 100%;
}
@media screen and (max-width: 500px) {
  .answer_contain {
    padding: 32px 12px;
  }
}
.answer_contain .q_type {
  text-align: center;
  margin: 10px 0 30px 0;
}
.answer_contain #selected {
  border: 2px solid #8d8eff;
  background-color: #f8f8ff;
}
.answer_block {
  display: flex;
  margin: 10px 5px;
  padding: 10px 8px;
  border: 2px solid #eeeeee;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
}
.answer_block:hover {
  border: 2px solid #8d8eff;
}
.answer_block .q_id {
  margin: 0;
  display: block;
  margin-bottom: 4px;
}
.answer_block .q_id #question_type {
  color: #9fa6bf;
}
.answer_block .q_id #question_id {
  color: #638eeb;
  margin-right: 4px;
}
.answer_block .question {
  color: #6d758d;
  font-size: small;
}
.answer_block .answer {
  margin: auto;
  font-size: 30px;
  margin: auto 20px;
  color: #2b2d38;
}
.answer_block .multi {
  font-size: 20px;
  margin: auto 15px;
  min-width: 70px;
}
.last {
  margin-bottom: 40px;
}
.last:last-child {
  margin-bottom: 10px;
}
