body {
  font-family: Arial, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f9f9fb;
}
.container {
  margin: 40px auto;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 16px;
  }
}
a {
  text-decoration: none;
  color: cornflowerblue;
  transition: 0.3s;
}
a:hover {
  color: #7ea7f5;
}
#title {
  text-align: center;
  flex: 100%;
}
#title #s_title {
  position: relative;
  bottom: 18px;
  color: #a0a0a0;
  margin: 0;
}
#title #s_title small span {
  color: orange;
}
#title #menu {
  margin-top: 5px;
}
#title #menu a {
  margin: 0 5px;
}
#bar_container {
  flex: auto;
}
.bar {
  flex: 100%;
  display: block;
  color: #f9f9fb;
  margin: 30px 0 0;
  padding: 20px;
  transition: 0.5s;
}
.bar h3 {
  margin: 0;
}
.bar p {
  margin-top: 0;
  font-size: 18px;
}
.bar.error {
  background: #fa4e4e;
  box-shadow: 8px 0px 20px rgba(187, 0, 0, 0.16);
}
.bar.info {
  background: #638eeb;
  box-shadow: 8px 0px 20px rgba(0, 65, 187, 0.16);
}
#notices {
  flex: 100%;
  margin: 30px 0 0;
  padding: 20px;
  color: #f9f9fb;
  background: #fa4e4e;
  text-align: center;
  transition: 1s;
}
#notices p {
  margin-top: 0;
  font-size: 18px;
}
form {
  text-align: center;
  margin-top: 35px;
  flex: 100% 1;
}
form input[type='password'] {
  min-width: 60%;
  max-width: 380px;
  padding: 8px;
  border: #8d8eff solid 1px;
}
form input[type='password']::placeholder {
  text-align: center;
}
form #key_feid {
  margin: 35px 0 45px 0;
}
form #key_feid p {
  margin: 45px 0;
}
form #question_feid {
  box-sizing: border-box;
  resize: none;
  transition: 0.5s;
  width: 100%;
}
#answer_container {
  flex: 100% 1;
}
#answer_container #liner {
  border-bottom: #eaeaea 2px dashed;
  display: block;
  margin-bottom: 16px;
}
#answer_container #liner_text {
  display: block;
  background-color: #f9f9fb;
  padding: 6px 6px 6px 18px;
  color: #aeaeae;
  position: relative;
  width: 180px;
  text-align: center;
  top: 17px;
  letter-spacing: 16px;
  margin: auto;
}
.answer_contain {
  padding: 32px;
  box-shadow: 0px 0px 35px #e7e7ef;
  margin: 40px auto;
  flex: 100%;
}
@media screen and (max-width: 500px) {
  .answer_contain {
    padding: 32px 12px;
  }
}
.answer_contain .q_type {
  text-align: center;
  margin: 10px 0 30px 0;
}
.answer_contain #selected {
  border: 2px solid #8d8eff;
}
.answer_block {
  display: flex;
  margin: 10px 5px;
  padding: 10px 8px;
  border: 2px solid #eeeeee;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
}
.answer_block:hover {
  border: 2px solid #8d8eff;
}
.answer_block .q_id {
  margin: 0;
  display: block;
  margin-bottom: 4px;
}
.answer_block .q_id #question_type {
  color: #9fa6bf;
}
.answer_block .q_id #question_id {
  color: #638eeb;
  margin-right: 4px;
}
.answer_block .question {
  color: #6d758d;
  font-size: small;
}
.answer_block .answer {
  margin: auto;
  font-size: 30px;
  margin: auto 20px;
  color: #2b2d38;
}
.answer_block .multi {
  font-size: 20px;
  margin: auto 15px;
  min-width: 70px;
}
.last {
  margin-bottom: 40px;
}
.last:last-child {
  margin-bottom: 10px;
}
.flex-text-wrap {
  position: relative;
  *zoom: 1;
}
textarea,
.flex-text-wrap {
  outline: 0;
  margin: 0;
  border: none;
  padding: 0;
  *padding-bottom: 0 !important;
}
.flex-text-wrap textarea,
.flex-text-wrap pre {
  white-space: pre-wrap;
  flex: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *white-space: pre;
  *word-wrap: break-word;
}
.flex-text-wrap textarea {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  flex: 100%;
  resize: none;
  /* IE7 box-sizing fudge factor */
  *height: 94%;
  width: 100%;
}
.flex-text-wrap pre {
  display: block;
  visibility: hidden;
}
textarea,
.flex-text-wrap pre {
  border: #8d8eff solid 1px;
  min-height: 400px;
  max-height: 400px;
  padding: 8px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #222d44;
}
footer ul {
  list-style: none;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 0;
}
@media screen and (max-width: 1000px) {
  footer ul li:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  footer ul li:nth-child(4) {
    display: none;
  }
}
footer ul li {
  margin: 0 8px;
  color: #fff;
  font-size: small;
}
#submit {
  padding: 10px 80px;
  border-radius: 999em;
  background: #5882dd;
  color: #fff;
  margin: auto;
  transition: 0.3s;
}
#submit:hover {
  background: #6596ff;
}
#submit:active {
  background: #4a6fbe;
}
#submit.sending {
  background: #b8ceff;
  cursor: not-allowed;
  pointer-events: none;
}
#submit.failure {
  background: #fa4e4e;
}
#submit.failure:hover {
  background: #ff8080;
}
#submit.failure:active {
  background: #ca6565;
}
#form_contain {
  flex: 100%;
}
span.ping::before {
  content: '●';
  font-size: larger;
  margin-right: 4px;
  transition: 0.5s;
}
span#disconnected::before {
  color: #fa4e4e;
}
span#connected::before {
  color: #87f76b;
}
