@import '~antd/dist/antd.css';
body {
  margin-top: 32px;
  font-family: Arial, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  background: #f9f9fb;
}

.ant-spin-nested-loading {
  flex: 1;
}
