form {
  text-align: center;
  margin-top: 35px;
  flex: 1;
}
form #key_feid {
  margin: 35px 0 45px 0;
}
form #key_feid p {
  margin: 45px 0;
}
form .ant-input-password {
  max-width: 480px;
}
form #token {
  text-align: center;
}
form #question_feid {
  box-sizing: border-box;
  resize: none;
  transition: 0.5s;
  width: 100%;
}
#form_contain {
  flex: 100%;
}
